body#login {
    background: url(./img/messi.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div-card{
    display: none;
}

.div-form{
    width: 382px;
    height: 301px;
    background: #FFFFFF;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.btn{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 225px;
    height: 35px;
    left: calc(50% - 275px/2);
    top: calc(50% - 35px/2 + 98px);
    background: #374785;
    border: 1px solid #24305E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    }
.flex-logo{

position: fixed;
background: #FFFFFF;
width: 100vw;
text-align: end;
padding-right: 15px;
bottom: 0;
left: 0;

}
 
@media only screen and (max-width: 500px) {
    body#login{
        background: transparent;
    }
    .div-card{
        display: flex;
    }
    .flex-logo{
        text-align: center;
        padding-right: 0px;
    }
    .div-form{
        box-shadow: none;
    }
    #selJugadores {
        width: 80%;
    }
    .btn-cerrarSesion {
        width: 100%;
        font-family: 'Raleway',
    }
    .card{
        display: flex;
    }
     
}

.navbar-collapse.collapse.show {
    z-index: 1100;
    background-color: white;
  } 
.nav {
    z-index: 2;
}


.navbar-brand {
    font-style: italic;
    font-weight: 600;
 
    color: #119DD8;
}
 
#logoGuayerd {
    padding-right: 8px;
}

.btn-cerrarSesion {
    background: #374785;
    color: #FFFFFF;
    border: 1px solid #24305E;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Raleway';
  }
 
#bodyMap {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
 
#selJugadores {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    padding: 8px;
    width: 420px;
    position: fixed;
    z-index: 1;
    align-self: center;
    top: 80px;
}
 
#map {
    height: 100%;
    z-index: 0;
}


.tituloh1{
   
text-align: center;
  padding:20px ;

}
span{
width: 339px;
height: 40px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #119DD8;
}
 
.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #EBEBEB;
    border-radius:10px 10px 10px 10px;
}
.card-title{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
color: #212529;
}
.card-body{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height:8px;
    color: #212529;
    margin-left: 15px;
}
.card .img-wrapper {
  height: 250px;
  overflow: hidden;
  position: relative;
  }
.imagenJugadores{
    height: 250px;
    width: 100%;
    border-radius:10px 10px 0px 0px;
  }
.numCamisetas{
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800px;
    font-size: 28px;
    text-align: end;
    color: #FFFFFF;
    padding: 9px;
  }